<?xml version="1.0"?>
<!--
/**
 * KeyCash
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Keycash
 * @package     Keycash_Core
 * @copyright   Copyright (c) 2017 KeyCash. (https://keycash.co)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Keycash_Core>
            <version>0.1.0</version>
        </Keycash_Core>
    </modules>
    <global>
        <blocks>
            <keycash_core>
                <class>Keycash_Core_Block</class>
            </keycash_core>
        </blocks>
        <helpers>
            <keycash_core>
                <class>Keycash_Core_Helper</class>
            </keycash_core>
        </helpers>
        <models>
            <keycash_core>
                <class>Keycash_Core_Model</class>
                <resourceModel>keycash_core_resource</resourceModel>
            </keycash_core>
            <keycash_core_resource>
                <class>Keycash_Core_Model_Resource</class>
                <entities>
                    <keycash_order>
                        <table>keycash_sales_order</table>
                    </keycash_order>
                    <scheduled_api_requests>
                        <table>keycash_scheduled_keyverify_api_requests</table>
                    </scheduled_api_requests>
                </entities>
            </keycash_core_resource>
        </models>
        <resources>
            <keycash_core_setup>
                <setup>
                    <module>Keycash_Core</module>
                </setup>
            </keycash_core_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <keycash_core before="Mage_Adminhtml">Keycash_Core_Adminhtml</keycash_core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <keycash_core>
                    <file>keycash/core.xml</file>
                </keycash_core>
            </updates>
        </layout>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <keycash_cron_heartbeat_status_check>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>checkCronHeartbeatStatus</method>
                    </keycash_cron_heartbeat_status_check>
                    <keycash_public_ip_update>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>updatePublicIp</method>
                    </keycash_public_ip_update>
                </observers>
            </admin_session_user_login_success>
            <model_config_data_save_before>
                <observers>
                    <keycash_cron_notification_remove_on_module_disable>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>removeCronNotificationOnModuleDisable</method>
                    </keycash_cron_notification_remove_on_module_disable>
                </observers>
            </model_config_data_save_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <keycash_sales_order_grid_collection_verification_state_field>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>addKeycashVerificationStateToSalesOrderGridCollection</method>
                    </keycash_sales_order_grid_collection_verification_state_field>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <keycash_sales_order_grid_verification_state_column>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>addKeycashVerificationStateColumnToSalesOrderGrid</method>
                    </keycash_sales_order_grid_verification_state_column>
                    <keycash_sales_order_grid_mass_verification_action>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>addKeycashOrdersMassVerificationToSalesOrderGrid</method>
                    </keycash_sales_order_grid_mass_verification_action>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <sales_order_save_after>
                <observers>
                    <keycash_order_status_update>
                        <type>singleton</type>
                        <class>keycash_core/observer</class>
                        <method>updateKeycashOrderStatus</method>
                    </keycash_order_status_update>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <keycash_core>
                    <file>keycash/core.xml</file>
                </keycash_core>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <keycash_send_cron_heartbeat>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>keycash_core/observer::sendCronHeartbeat</model>
                </run>
            </keycash_send_cron_heartbeat>
            <keycash_create_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>keycash_core/observer::createKeycashOrders</model>
                </run>
            </keycash_create_orders>
            <keycash_update_orders_verification_status>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>keycash_core/observer::updateKeycashOrdersVerificationStatus</model>
                </run>
            </keycash_update_orders_verification_status>
            <keycash_run_scheduled_api_requests>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>keycash_core/observer::runScheduledApiRequests</model>
                </run>
            </keycash_run_scheduled_api_requests>
        </jobs>
    </crontab>
    <default>
        <keycash>
            <key_verify>
                <custom_canceled_order_status>canceled,fraud</custom_canceled_order_status>
                <send_orders_limit>50</send_orders_limit>
            </key_verify>
        </keycash>
    </default>
</config>
